<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/form" method="post">
        name : <input type="text" name="name">
        <br />
        <br />
        email : <input type="email" name="email">
        <br />
        <br />
        password : <input type="password" name="password">
        <br />
        <br />
        radio : <input type="radio" name="radio" >
        <br />
        <br />
        checkbox : <input type="checkbox" name="checkbox" >
        <br />
        <br />
        date : <input type="date" name="date">
        <br />
        <br />
        time : <input type="time" name="time">
        <br />
        <br />
        number : <input type="number" name="number">
        <br />
        <br />
        numberslide : <input type="number" name="numberslide">
        <br />
        <br />
        select : <select name="select">
            <option>option1</option>
            <option>option2</option>
            <option>option3</option>
        </select>
        <br />
        <br />
        file : <input type="file" name="file">
        <br />
        <br />
        <input type="submit" value="submit">
    </form>
</body>
</html>