<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
</head>
<body>
    <h1>Welcome</h1>
    <p>for creating a entry please go to root url then /create </p>
    <p>after fill up details and signing up you will get a token . keep it safe it will help you acces other routes.</p>
    <p>for checking all entry you got have your token which got after signing up</p>
    <p>got to root url then /all/[your token]</p>
    <p>for updating go to root url then /update/[your token]</p>
    <p>for deleting go to root url then /delete/[id of the entry]/[your token] </p>
</body>
</html>