<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/newentry" method="get">
        <input type="submit" value="add">
    </form>
    <form action="/deleteentry" method="get">
        <input type="submit" value="delete">
    </form>

    <ul>
        <% list.forEach(e => { %>
            <li>
                id : <%= e.id %>
                <br />
                name : <%= e.name %>
                <br />
                description : <%= e.description %>
                <br />
                size : <%= e.size %>
                <br />
            </li>
            <br />
        <% })%>
    </ul>
</body>
</html>