<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <p>we have a route /createfaq . after creating a faq you will get your token</p>
    <p>we have a route /delete . for delete you will need your token and id of the faq</p>
    <p>we have a route /update . for update you will need your token and id of the faq</p>
    <p>we have a route /faq . put your token in url params like this for viewing all faq. /faq/{token}</p>
</body>
</html>